#### This notebook is for IBM certificate capstone project on Coursera.

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs

#### Here I am using Requests library to retrieve webpage from wikipedia

In [2]:
resp = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
pageText = resp.text
soup = bs(pageText, 'html.parser')

In [3]:
table = soup.find_all("table")

In [4]:
tablist = []
for mytable in table:
    table_body = mytable.find('tbody')
    try:
        rows = table_body.find_all('tr')
        for tr in rows:
            cols = tr.find_all('td')
            temp = ""
            for td in cols:
                temp += td.text+","
            tablist.append(temp)
    except:
        print("no tbody")

no tbody

There is some cluttering in start and after of the table while scraping so removing them by using indexing...

In [5]:
tablist = tablist[1:-7]

In [6]:
## Here each row is being put into separate list. This will make is easy to import to dataframe
## in separate columns.

new_tablist = []
for each in tablist:
    each = each.replace('\n','')
    new_tablist.append(each.split(','))

In [7]:
db = pd.DataFrame(new_tablist)

In [8]:
## Giving columns names, the last one is extraneous columns, so will drop it
db.columns = ['PostalCode', 'Borough', 'Neighbourhood','todrop']

In [9]:
db.drop('todrop',axis=1,inplace=True)

In [10]:
## Ignoring those postal areas with Borough = Not assigned
db = db[db['Borough']!='Not assigned']

In [11]:
db.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [12]:
## see the index is disturbed after, so resetting it and dropping the previous index columns
db.reset_index(inplace=True)
db.drop('index',axis=1,inplace=True)

In [13]:
## we need onyl unique PostalCode and want to merge the duplicate Neighbourhood.
db2 = db.groupby(['PostalCode']).agg({'Borough':'first', 'Neighbourhood': ', '.join}).reset_index()

In [14]:
db2.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [15]:
## Checking if our logic was right and the answer shows that two neighbour are merged correctly
db2[db2['PostalCode']=='M5A']

   PostalCode           Borough              Neighbourhood
53        M5A  Downtown Toronto  Harbourfront, Regent Park

In [16]:
## Checking if there are such PostalCodes with Neighbourhood set to Not assigned
db2[db2['Neighbourhood']=='Not assigned']

   PostalCode       Borough Neighbourhood
85        M7A  Queen's Park  Not assigned

In [17]:
## np.where is a good option to replace, see the documentation
db2['Neighbourhood'] = np.where(db2['Neighbourhood']!='Not assigned', db2['Neighbourhood'], db2['Borough'])

In [18]:
## checking if our logic was right, turns out that Neighbourhood is correctly replaced by Borough value
db2[db2['PostalCode']=='M7A']

   PostalCode       Borough Neighbourhood
85        M7A  Queen's Park  Queen's Park

In [19]:
db2.shape

(103, 3)

In [32]:
## Just creating dummy columns, they will get replaced later
db2['Latitude'] = db2['PostalCode']
db2['Longitude'] = db2['PostalCode']

In [20]:
## reading csv file for geospatial data
geos_c = pd.read_csv('Geospatial_Coordinates.csv')

In [31]:
geos_c

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
5           M1J  43.744734 -79.239476
6           M1K  43.727929 -79.262029
7           M1L  43.711112 -79.284577
8           M1M  43.716316 -79.239476
9           M1N  43.692657 -79.264848
10          M1P  43.757410 -79.273304
11          M1R  43.750072 -79.295849
12          M1S  43.794200 -79.262029
13          M1T  43.781638 -79.304302
14          M1V  43.815252 -79.284577
15          M1W  43.799525 -79.318389
16          M1X  43.836125 -79.205636
17          M2H  43.803762 -79.363452
18          M2J  43.778517 -79.346556
19          M2K  43.786947 -79.385975
20          M2L  43.757490 -79.374714
21          M2M  43.789053 -79.408493
22          M2N  43.770120 -79.408493
23          M2P  43.752758 -79.400049
24          M2R  43.782736 -79.442259
25          M3A  43.753259 -79.329656
26          M3B  43.745906 -79.352188
27          M3C  43.725900 -79.340923
28          M3H  43.754328 -79.442259
29          M3J  43.767980 -79.487262
..          ...        ...        ...
73          M6C  43.693781 -79.428191
74          M6E  43.689026 -79.453512
75          M6G  43.669542 -79.422564
76          M6H  43.669005 -79.442259
77          M6J  43.647927 -79.419750
78          M6K  43.636847 -79.428191
79          M6L  43.713756 -79.490074
80          M6M  43.691116 -79.476013
81          M6N  43.673185 -79.487262
82          M6P  43.661608 -79.464763
83          M6R  43.648960 -79.456325
84          M6S  43.651571 -79.484450
85          M7A  43.662301 -79.389494
86          M7R  43.636966 -79.615819
87          M7Y  43.662744 -79.321558
88          M8V  43.605647 -79.501321
89          M8W  43.602414 -79.543484
90          M8X  43.653654 -79.506944
91          M8Y  43.636258 -79.498509
92          M8Z  43.628841 -79.520999
93          M9A  43.667856 -79.532242
94          M9B  43.650943 -79.554724
95          M9C  43.643515 -79.577201
96          M9L  43.756303 -79.565963
97          M9M  43.724766 -79.532242
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [33]:
db2['Latitude'] = np.where(db2['PostalCode']!=geos_c['Postal Code'], db2['Latitude'], geos_c['Latitude'])
db2['Longitude'] = np.where(db2['PostalCode']!=geos_c['Postal Code'], db2['Longitude'], geos_c['Longitude'])

In [34]:
db2

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8067,-79.1944
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7845,-79.1605
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395
5,M1J,Scarborough,Scarborough Village,43.7447,-79.2395
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.7279,-79.262
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.7111,-79.2846
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.7163,-79.2395
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.6927,-79.2648
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.7574,-79.2733
11,M1R,Scarborough,"Maryvale, Wexford",43.7501,-79.2958
12,M1S,Scarborough,Agincourt,43.7942,-79.262
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.7816,-79.3043
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.8153,-79.2846
15,M1W,Scarborough,L'Amoreaux West,43.7995,-79.3184
16,M1X,Scarborough,Upper Rouge,43.8361,-79.2056
17,M2H,North York,Hillcrest Village,43.8038,-79.3635
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.7785,-79.3466
19,M2K,North York,Bayview Village,43.7869,-79.386
20,M2L,North York,"Silver Hills, York Mills",43.7575,-79.3747
21,M2M,North York,"Newtonbrook, Willowdale",43.7891,-79.4085
22,M2N,North York,Willowdale South,43.7701,-79.4085
23,M2P,North York,York Mills West,43.7528,-79.4
24,M2R,North York,Willowdale West,43.7827,-79.4423
25,M3A,North York,Parkwoods,43.7533,-79.3297
26,M3B,North York,Don Mills North,43.7459,-79.3522
27,M3C,North York,"Flemingdon Park, Don Mills South",43.7259,-79.3409
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights",43.7543,-79.4423
29,M3J,North York,"Northwood Park, York University",43.768,-79.4873
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.6938,-79.4282
74,M6E,York,Caledonia-Fairbanks,43.689,-79.4535
75,M6G,Downtown Toronto,Christie,43.6695,-79.4226
76,M6H,West Toronto,"Dovercourt Village, Dufferin",43.669,-79.4423
77,M6J,West Toronto,"Little Portugal, Trinity",43.6479,-79.4197
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",43.6368,-79.4282
79,M6L,North York,"Downsview, North Park, Upwood Park",43.7138,-79.4901
80,M6M,York,"Del Ray, Keelesdale, Mount Dennis, Silverthorn",43.6911,-79.476
81,M6N,York,"The Junction North, Runnymede",43.6732,-79.4873
82,M6P,West Toronto,"High Park, The Junction South",43.6616,-79.4648
83,M6R,West Toronto,"Parkdale, Roncesvalles",43.649,-79.4563
84,M6S,West Toronto,"Runnymede, Swansea",43.6516,-79.4844
85,M7A,Queen's Park,Queen's Park,43.6623,-79.3895
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.637,-79.6158
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.6627,-79.3216
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto",43.6056,-79.5013
89,M8W,Etobicoke,"Alderwood, Long Branch",43.6024,-79.5435
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.6537,-79.5069
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",43.6363,-79.4985
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.6288,-79.521
93,M9A,Etobicoke,Islington Avenue,43.6679,-79.5322
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.6509,-79.5547
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.6435,-79.5772
96,M9L,North York,Humber Summit,43.7563,-79.566
97,M9M,North York,"Emery, Humberlea",43.7248,-79.5322
98,M9N,York,Weston,43.7069,-79.5182
99,M9P,Etobicoke,Westmount,43.6963,-79.5322
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.6889,-79.5547
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.7394,-79.5884
102,M9W,Etobicoke,Northwest,43.7067,-79.5941